"desktop_ports":i3-gaps,i3lock,i3status,conky,feh,dmenu,xterm,adapta-gtk-theme,papirus-icon-theme,htop,fsearch,epdfview,xlockmore,zip,unzip,pfetch,ImageMagick7-nox11,xautolock,ranger,pcmanfm,picom,dunst
"office_ports":
"browser_ports":chromium
"dev_ports":openjdk11,maven33,npm,git,vim
"enable_docker":true
"port_system":PKG
"ccache_size":5G
"is_virtualbox_guest":true
