"desktop_ports":openbox,compton,tint2,rxvt-unicode,conky,feh,htop,gtk-engines2,gsettings-desktop-schemas,gtk-murrine-engine,adapta-gtk-theme,geany,geany-plugin-vc,pcmanfm,fsearch,epdfview,xlockmore,zip,unzip,pfetch
"office_ports":abiword,gnumeric
"browser_ports":chromium
"dev_ports":openjdk11,maven33,npm,git,vim,netbeans,py37-pip
"enable_docker":true
"port_system":PKG
"ccache_size":5G
"is_virtualbox_guest":true
