"base_ports":xorg,drm-kmod,sudo,xlockmore,curl,automount
"desktop_ports":openbox,tint2,rxvt-unicode,conky,feh,htop,gtk-engines2,gsettings-desktop-schemas,gtk-murrine-engine,geany,geany-plugin-vc,pcmanfm,fsearch,epdfview,xlockmore,zip,unzip
"office_ports":abiword,gnumeric
"browser_ports":chromium
"dev_ports":openjdk8,maven33,npm,git,vim,netbeans
"enable_docker":true
"port_system":PKG
"ccache_size":
"download_kernel":false
"create_users":false
"setup_vpn":true
"is_virtualbox_guest":true
